---
export interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props;
---
<div class={`ornament ${className}`}>
  <img src="/assets/ornament-rule.svg" alt="" height="18" />
</div>

<style>
.ornament {
  display: flex;
  justify-content: center;
  padding-block: var(--space-6);
  opacity: 0.6;
}
</style>
